body {
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.9);
  padding: 20px;
  width: 90%;
  max-width: 520px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

table {
  width: 100%;
}

input {
  width: 100%;
}

button {
  margin-top: 10px;
}

.dark {
  background: #111;
  color: white;
}
.dark .app {
  background: rgba(0,0,0,0.85);
}
